.radio-group {
  display: grid;
  gap: 0.5rem; /* gap-2 */
}

.radio-group__item {
  aspect-ratio: 1 / 1;
  height: 1rem; /* h-4 */
  width: 1rem; /* w-4 */
  border-radius: 9999px; /* rounded-full */
  border: 1px solid hsl(var(--primary));
  color: hsl(var(--primary));
  ring-offset-color: hsl(var(--background));
}
.radio-group__item:focus {
  outline: none;
}
.radio-group__item:focus-visible {
  box-shadow: 0 0 0 2px hsl(var(--ring));
}
.radio-group__item:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.radio-group__indicator {
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-group__indicator-icon {
  height: 0.625rem; /* h-2.5 */
  width: 0.625rem; /* w-2.5 */
  fill: currentColor;
  color: currentColor;
}
